<nav>
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
      <a class="page-link" (click)="currentPage = currentPage - 1">Prev</a>
    </li>
    <ng-container *ngFor="let image of images; let i = index">
      <li
        class="page-item"
        appClass
        [ngClass]="{ active: i === currentPage }"
        *ngIf="showItem(i)"
      >
        <a class="page-link" (click)="currentPage = i">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li
      class="page-item"
      *ngIf="images"
      [ngClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>

<div class="">
  <h4 *ngIf="images" appClass>{{ images[currentPage].description }}</h4>
  <img *ngIf="images" [src]="images[currentPage].url" class="img-fluid" />
</div>
